@import url(./components/global.css);
@import url(./components/carousel.css);

.carre { 
    height: 150px;
    width: 150px;
    background-color: red;
    border: 5px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.rectangle { 
    height: 100px;
    width: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    border: 5px solid red;
}